*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.logo{
    height: 100px;
    width: 100px;
    margin-left: 200px;
}
.header{
    display: flex;
    width: 1280px;
    height: 80pxpx;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937
    
}
.links{
    margin-right: 200px;
   
}
.pea{
    height: 100px;
    width: 100px;
}
.pogo{
    height: 200px;
    width: 600px;
    padding-left: 100px;
    
}
.first{
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}
.hero{
    display: flex;
    background-color:#1f2937 ;
    align-items: center;
    gap: 20px;
}
.inside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 200px;

}
.inside p{
    margin: 0;
    color: #f9faf8;

}
.white{
    display: flex;
    background-color: #f9faf8;
    
}
.eagle{
    height: 200px;
    width: 200px;
    margin-left: 80px;
    border: 1px solid blue;
    background-color: #f9faf8;
}



.hh{
    margin-left: 400px;
    margin-bottom: 40px;
}
.space{
    height: 200px;
    width: 1250px;
    display: flexbox;
    padding: 20px;
    justify-content: center;
    background-color: #1f2937;
}
.light{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 20px;
}
.thunder{
    justify-content: end;
    padding-top: 10px;
}
.blue{
   height: 200px;
   display: flex;
   justify-content: center;
}
.sky{
    margin-top: 30px;
    background-color: blue;
    border: 1px solid ;
    width: 800px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.alpha{
    margin-left: 720px;
    background-color: aqua;
    
}
.end{
    display: flex;
    justify-content: center;
    background-color: gold;
}

